body,
html {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

.mobileWarning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}

.mobileWarning p {
  font-size: 18px;
  padding: 20px;
  text-align: center;
}

.title-background {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.title-content {
  text-align: center;
}

.title {
  font-size: 4em;
  margin: 0;
}

.subtext {
  font-size: 1.2rem;
  margin: 20px;
  color: #b2befa;
  max-width: 600px;
}

#titlelinktext,
#titlelink {
  margin-top: 0vh;
  text-decoration: none;
  color: #b2befa;
}

#titlelink:hover {
  font-weight: bold;
  color: #ffffff;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.entry-button {
  margin-top: 20px;
  padding: 12px 28px;
  background-color: #2575fc;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
}

.entry-button:hover {
  color: #b2befa;
  background-color: #ffffff;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.select-team-display {
  background-color: #eeeeee;
  width: 100%;
  min-height: 100vh;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
  color: black;
}

.bigtext {
  font-size: 2em;
  margin: 0 0 0;
  padding: 3vh 0 1vh 0;
  text-align: center;
  color: #5c77ff;
}

.team-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

@keyframes slideOutLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-out-left {
  animation: slideOutLeft 0.5s forwards;
}

.slide-in-right {
  animation: slideInRight 0.5s forwards;
}

@keyframes slideInLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 0.5s forwards;
}

.slide-out-right {
  animation: slideOutRight 0.5s forwards;
}

.player {
  margin: 10px 10px 10px;
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  height: 47vh;
  min-width: 10vw;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

#search-player {
  margin-top: 2vh;
}

.stats {
  text-align: center;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 2vh;
}

.standard-button {
  padding: 10px 25px;
  background-color: #5c77ff;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.standard-button:hover {
  background-color: #4d8efd;
}

.results {
  overflow: scroll;
  width: 250px;
  text-align: center;
}

.result:hover {
  color: #5c77ff;
  cursor: pointer;
}

.standard-button.change-player {
  display: flex;
  background-color: transparent;
  color: #ff4760;
  font-size: 3em;
}

.standard-button.search {
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: small;
}

.standard-button.submit-teams {
  margin: -10px 10px 10px;
  padding: 15px 50px 15px;
  border-radius: 40px;
}

.search-box {
  padding: 3px;
  border: 2px solid rgb(232, 232, 232);
  border-radius: 5px;
  width: 120px;
}

.headshot-search {
  border-radius: 20px;
}

@media (max-width: 500px) {
  .player {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    min-height: fit-content;
    width: 230px;
    margin: 1vh 0 1vh 0;
  }

  .headshot-and-stats {
    margin-left: 0px;
    display: flex;
    flex-direction: row;
  }

  .name {
    font-weight: bold;
  }

  .headshot-search {
    height: 150px;
    width: 100px;
  }

  .search-player {
    margin: 20px 0 10px;
  }

  .stats {
    text-align: center;
    margin-left: 20px;
    margin: 5px 10px 10px 10px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding: 2vh;
  }

  .standard-button {
    padding: 8px 20px;
    background-color: #5c77ff;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .standard-button.change-player {
    color: #ff4760;
    font-size: 1.5em;
    padding: 0;
    margin-left: 230px;
    margin-top: -210px;
  }

  .standard-button.submit-teams {
    margin: -10px 10px 10px;
    padding: 10px 30px 10px;
  }

  .search-box {
    width: 150px;
    margin-left: -20px;
  }
}

.comparison-display {
  background: linear-gradient(135deg, #975bd8 0%, #6e9ceb 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  width: 100vw;
  min-height: 100vh;
}

.results-display {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
}

.team1-player,
.team2-player {
  display: flex;
  padding: 2vh;
  /* max-height: 15vh; */
}

.team1-player {
  margin-left: 20px;
  flex-direction: row;
  text-align: left;
  justify-content: flex-start;
  font-size: 1.2em;
}

.team2-player {
  margin-right: 20px;
  flex-direction: row-reverse;
  text-align: right;
  justify-content: flex-end;
  font-size: 1.2em;
}

.player-headshot {
  height: 15vh;
  width: 10vh;
  border-radius: 40px;
}

.team1-player-info,
.team2-player-info {
  color: black;
  font-weight: bold;
  min-width: 20vw;
  min-height: 10vh;
}

.team1-player-info {
  margin-left: 20px;
}

.team2-player-info {
  margin-right: 20px;
}

.player-stats {
  font-weight: normal;
}

.headtohead {
  min-width: 20vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.stat-title {
  padding-left: 1vw;
  padding-right: 1vw;
  color: black;
  font-weight: bold;
  font-size: 1.8em;
}

.team-totals {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.team-stat {
  margin: 1vh;
  margin-top: -2vh;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  font-size: 1.5em;
  color: black;
}

.team-stat.more {
  background-color: rgb(5, 168, 5);
}

.infographs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1em;
  max-width: 30vw;
  max-height: fit-content;
}

.news p {
  color: black;
  text-align: center;
  text-decoration: underline;
}

.news a {
  text-decoration: none;
  color: black;
  max-height: 10vh;
  transition: all 0.3s ease;
}

.news a:hover {
  color: #324185;
}

.standard-button-news {
  padding: 5px 15px;
  background-color: #5c77ff;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  max-height: 10vh;
  margin: 5px 10px 0px;
}

.standard-button-news:hover {
  background-color: #5c77ff;
}

@media (max-width: 500px) {
  .comparison-display {
    background: linear-gradient(135deg, #975bd8 0%, #6e9ceb 100%);
    height: 100vh;
    display: flex;
  }

  .results-display {
    padding: 0px 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: transparent;
  }

  .player-headshot {
    height: 120px;
    width: 80px;
    border-radius: 20px;
    margin-bottom: 3vh;
  }

  .infographs {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .stat-title {
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: 5px;
    color: black;
    font-weight: bold;
    font-size: 20px;
  }

  .team-totals {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .team-stat {
    margin: 1vh;
    margin-top: -2vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-size: 20px;
    color: black;
  }

  .team-stat.more {
    background-color: rgb(5, 168, 5);
  }

  .news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    font-size: 1.1em;
    max-width: 150px;
  }

  .news p {
    color: black;
    text-align: center;
    text-decoration: underline;
  }

  .news a {
    text-decoration: none;
    color: black;
    max-height: 10vh;
    overflow: scroll;
  }

  .news a:hover {
    color: #324185;
  }
}
